:root {
    --primary: #61dbfb;
    --secondary: rgba(97, 219, 251, 0.3);
    --accent: #fb7f60;
    --dark: #071a2f;
    --light: #e3eefb;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--dark);
    color: var(--primary);
}